li {
    display: block;
}

.product-item {
    border: 1px solid #333;
    max-width: 350px;
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;

    & img {
        max-width: 150px;
        margin: 0 auto
    }
}

.btns-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-title, .product-price {
    margin: 5px auto;
}