.counter {
    display: flex;
    align-items: center;
    gap: 7px;
}

.btn {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
}

.minusBtn {
    position: relative;
    width: 20px;
    height: 20px;
}